
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css/bootstrap.min.css">
	<link rel="stylesheet" href="~/bootstrap/js/bootstrap.js/bootstrap.bundle.js">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<title>Login</title>
</head>
<body>
	<div class="container">
	<div class="row">
	  <div class="col-md-5 offset-md-3 form-container">
		  <div class="card card-login text-white">
			  <div class="card-body">
				  <img src="~/dist/img/Frame1.png" class="logo-login" alt="User Image">
				  <div class="text-center under-logo">Please fill out the following fields to login:</div>
				<form id="login-form">
				  <div class="form-group">
					<label for="login-email">Username</label>
					<input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter email">
				  </div>
				  <div class="form-group">
					<label for="login-password">Password</label>
					<input type="password" class="form-control" id="login-password" placeholder="Password">
				  </div>
				  <div class="checkbox mt-2">
					<label>
						<input type="checkbox" name="remember" > Remember Me                    </label>
				</div>
				  <button type="submit" class="btn btn-block mt-3 btn-login col-md-12 btn-success" role="button">Login</button>
				</form>
			  </div>
		  </div>
	  </div>
	</div>
  </div>
</body>

</html>
